Source: blankon-panel
Section: desktop
Priority: extra
Maintainer: BlankOn Developers <BlankOn-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50), libcairo2-dev, libgee-dev, libgtk-3-dev, libgnome-menu-dev, libwnck-3-dev, libvala-0.12-dev, valac
Uploader: Rahman Yusri Aftian <aftian@di.blankon.in>
Standards-Version: 3.9.1
Website: https://github.com/mdamt/blankon-panel
VCS-git: git://github.com/mdamt/blankon-panel.git

Package: blankon-panel
Architecture: any
Depends: ${misc:Depends}, gdk-x11-3.0, gir1.0-gee-1.0, cairo, libcairo2, gtk+3.0, gio-unix-2.0, libgnome-menu2, gdk-3.0, libwnck-3.0, valac
Recommends: 
Description: BlankOn Panel
 BlankOn Panel


